@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/Home/Index">Home</a></li>
					<li class="active">Contact</li>
				</ol>
			</div>
		</div>
	</div>
<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>CONTACT</h2>
			</div>
				<div class="contact-text">
				<div class="col-md-3 contact-left">
						<div class="address">
							<h5>Address</h5>
							<p>LUXURY WATCHES 
							<span>Tuzla/İSTANBUL</span>
							</p>
						</div>
						<div class="address">
							<h5>Contact With Us</h5>
							<p>Tel:+905318124237
							<span>Fax:190-4509-494</span>
							
						</div>
					</div>
					<div class="col-md-9 contact-right">
						<form>
							<input type="text" placeholder="Name">
							<input type="text" placeholder="Phone">
							<input type="text"  placeholder="Email">
							<textarea placeholder="Message" required=""></textarea>
							<div class="submit-btn">
								<input type="submit" value="SUBMIT">
							</div>
						</form>
					</div>	
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
